
iframe {
    border: 0px;
    margin: 0px;
}

.tabs {
    position: fixed;
    display: table;
    table-layout: fixed;
    top: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 30px;
    width: 100%;
    z-index: 1001;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tabs li {
    display: table-cell;
    width: auto;
    max-width: 250px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.tabs a {
    height: 22px;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    padding: 3px 10%;
    background: #ddd;
    border-bottom: 2px solid #888;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.tabs a:hover, a.active {
    background: #f7f7f7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tabs span {
    position: absolute;
}

.tabs span.tab-title {
    width: auto;
    left: 0px;
    right: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs span.tab-close {
    width: 25px;
    height: 100%;
    right: 0px;
    top: 0px;
    background-image: url(cross.png);
    background-position: 0px,0px;
    background-size: 25px,25px;
    background-repeat: no-repeat;
}

.tabgroup div {
    padding: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tabs-content {
    position: fixed;
    top: 0px;
    margin: 0;
    border: 0;
    padding-top: 30px;
    height: 100%;
    width: 100%;
}

.tabFrame {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.webswing-element {
    padding-top: 30px;
    position: fixed;
    top: 0px;
}

.focusedLayer {
    z-index: 1000;
}

.webswingWindow {
    position: fixed;
    margin: 0;
    border: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.0);
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}